@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rdp-accent-color: indigo;
  --rdp-background-color: gray;

  background-repeat: repeat-y;
  background-size: 100% 90vh;
}

.selected-day {
  background-color: blue !important;
  color: white !important;
}
